<!DOCTYPE html>
<html lang="en">
<head>

     <title>Liz Fitness</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="../static/css/bootstrap.min.css">
     <link rel="stylesheet" href="../static/css/font-awesome.min.css">
     <link rel="stylesheet" href="../static/css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../static/css/liz_page_style.css">
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="/">Liz Fitness</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="/about/me" class="nav-link smoothScroll">About Me</a>
                    </li>

                    <li class="nav-item">
                        <a href="/programs" class="nav-link smoothScroll">Programs</a>
                    </li>
                    {% if session['google_id'] or session['user_id'] or session['github_oauth_token'] %}

                    <li class="nav-item">
                        <a href="/logout" class="nav-link smoothScroll">logout</a>
                    </li>
                    {% else %}
                    
                    <li class="nav-item">
                        <a href="/login/page" class="nav-link smoothScroll">login</a>
                    </li>
                    <li class="nav-item">
                        <a href='/register/page' class="nav-link smoothScroll">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="https://www.instagram.com/__dadaliz/" target="_blank" class="fa fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </nav>



     <!-- CONTACT -->
     <section class="contact section" id="contact">
        <div class="container">
             <div class="row">

                  <div class="ml-auto col-lg-5 col-md-6 col-12">
                      <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Feel free to ask anything</h2>

                      <form action="https://formsubmit.co/richlontos@outlook.com" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                          <input type="text" class="form-control" name="cf-name" placeholder="Name" required>

                          <input type="email" class="form-control" name="cf-email" placeholder="Email" required>

                          <textarea class="form-control" rows="5" name="cf-message" placeholder="Message" required></textarea>

                          <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
                      </form>
                  </div>

                  <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Where you can <span>find us</span></h2>

                      <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> Long beach, CA 90807</p>

                      <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2UC-3UEh3YARrsjjrPR2YiQ&key=AIzaSyAkOr-vT8jS9BMzYQq34TZZyPqWNGpl7Mc"></iframe>                  </div>
                  
             </div>
        </div>
   </section>




     <!-- FOOTER -->
     <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <p class="copyright-text">Copyright &copy; 2022 Liz Fitness Co.
                   </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                            <i class="fa fa-envelope-o mr-1"></i>
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">lizdada7@gmail.com</a>
                        </p>

                        <p><i class="fa fa-phone mr-1"></i> 253-380-1654</p>
                    </div>
                    
               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->
     <script src="../static/js/jquery.min.js"></script>
     <script src="../static/js/bootstrap.min.js"></script>
     <script src="../static/js/aos.js"></script>
     <!-- <script src="../static/js/smoothscroll.js"></script> -->
     <script src="../static/js/custom.js"></script>

</body>
</html>