<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Liz fitness</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/aos.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/css/liz_page_style.css" />
    <script type="text/javascript">
       var password;
      var beginners_key = 'intermediate2022'
      password=prompt('Enter Key to access program')
      if (password === beginners_key){
         true
      }else{
        alert('Incorrect Key')
        window.location= '/programs'
        
      }

    </script>
  </head>
  <body data-spy="scroll" data-target="#navbarNav" data-offset="50">
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Liz Fitness</a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a href="/" class="nav-link smoothScroll">Home</a>
            </li>

            <li class="nav-item">
              <a href="#about" class="nav-link smoothScroll">About Me</a>
            </li>

            <li class="nav-item">
              <a href="/programs" class="nav-link smoothScroll">Programs</a>
            </li>
            <li class="nav-item">
              <a href="/contact/us" class="nav-link smoothScroll">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link smoothScroll">Logout</a>
            </li>
            <li class="nav-item">
              <a href="/intermediate/exercises" class="nav-link smoothScroll">Intermediate exercises</a>
            </li>
          </ul>

          <ul class="social-icon ml-lg-3">
            <li>
              <a
                href="https://www.instagram.com/__dadaliz/"
                target="_blank"
                class="fa fa-instagram"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section>

      <div class="bg-overlay"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto col-12">
            <div class="hero-text mt-5 text-center ">
              <div>
                <h1 style="margin-top: 65px;">INTERMEDIATE WORKOUT</h1>
               <div> 
                 <embed src="../static/beginnerspdf.pdf#toolbar=0" width="100%" height="600px">
              </div> 

          </div>
        </div>
      </div>
    </div>

    </section>

    <!-- FOOTER -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="ml-auto col-lg-4 col-md-5">
            <p class="copyright-text">Copyright &copy; 2022 Liz Fitness Co.</p>
          </div>

          <div
            class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12"
          >
            <p class="mr-4">
              <i class="fa fa-envelope-o mr-1"></i>
              <a
                href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                target="_blank"
                >lizdada7@gmail.com</a
              >
            </p>

            <p><i class="fa fa-phone mr-1"></i> 253-380-1654</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <!-- <script src="../static/js/smoothscroll.js"></script> -->
    <script src="../static/js/custom.js"></script>
  </body>
</html>
