[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask = "*"
flask-bcrypt = "*"
pandas = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
flask-stripe = "*"
stripe = "*"
cachecontrol = "*"
authlib = "*"
flask-dance = "*"
reso = "*"
resp = "*"
firebase = "*"

[dev-packages]

[requires]
python_version = "3.10"
